In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('out.csv')

In [3]:
df

        n  num_add  trial  matches  percent
0      20        1      0       43     0.43
1      20        1      1       10     0.10
2      20        1      2       20     0.20
3      20        1      3        8     0.08
4      20        1      4       92     0.92
..    ...      ...    ...      ...      ...
635  1000       10     27       61     0.61
636  1000       10     28       35     0.35
637  1000       10     29       49     0.49
638  1000       10     30       95     0.95
639  1000       10     31       51     0.51

[640 rows x 5 columns]

In [4]:
df.groupby(['n', 'num_add'])['percent'].describe()

              count      mean       std   min     25%    50%     75%   max
n    num_add
20   1         32.0  0.308750  0.202751  0.06  0.1875  0.275  0.3400  0.92
     2         32.0  0.271250  0.174055  0.06  0.1500  0.215  0.3550  0.70
     5         32.0  0.081875  0.075496  0.00  0.0400  0.050  0.1125  0.35
     10        32.0  0.040313  0.029998  0.00  0.0200  0.040  0.0525  0.12
50   1         32.0  0.547500  0.265257  0.04  0.3575  0.500  0.7925  1.00
     2         32.0  0.305312  0.149752  0.09  0.2200  0.280  0.3700  0.72
     5         32.0  0.260000  0.170540  0.01  0.1175  0.245  0.3725  0.65
     10        32.0  0.097500  0.069700  0.01  0.0475  0.090  0.1150  0.32
100  1         32.0  0.623438  0.266187  0.15  0.4800  0.645  0.8350  1.00
     2         32.0  0.502813  0.249816  0.14  0.3625  0.450  0.7050  0.97
     5         32.0  0.340625  0.230608  0.07  0.1550  0.275  0.5550  0.83
     10        32.0  0.224375  0.161823  0.03  0.1175  0.160  0.3150  0.65
500  1         32.0  0.832500  0.192236  0.36  0.6725  0.925  1.0000  1.00
     2         32.0  0.746562  0.223370  0.34  0.5400  0.860  0.9225  1.00
     5         32.0  0.533750  0.216984  0.17  0.3900  0.540  0.6250  0.97
     10        32.0  0.480625  0.236683  0.06  0.2900  0.430  0.6650  0.97
1000 1         32.0  0.887812  0.169434  0.50  0.8650  0.975  1.0000  1.00
     2         32.0  0.783750  0.243479  0.19  0.5700  0.900  1.0000  1.00
     5         32.0  0.626563  0.215969  0.13  0.4850  0.600  0.7925  1.00
     10        32.0  0.567812  0.215717  0.20  0.4125  0.560  0.6250  0.98